# PyCharm-specific files
.idea/
.shelf/
workspace.xml
httpRequests/
dataSources/
dataSources.local.xml
Bed_level_5m.iml
misc.xml
modules.xml
inspectionProfiles
vcs.xml


# Virtual environments
.venv/
env/
venv/

# Python-specific
__pycache__/
*.py[cod]
*$py.class

# Environment and dependency management
*.env
.env.*

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
.coverage
htmlcov/
*.cover
*.coverage.*

# Distribution and packaging
dist/
build/
*.egg-info/
.eggs/

# Testing
*.pytest_cache/
.tox/
.nox/

# Docker
*.env.docker
docker-compose.override.yml

# Operating system files
.DS_Store
Thumbs.db
